@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ubuntu+Condensed&display=swap');



/*-------------------------------------------------------------------------------------------------------------*/
body {

    background-color: white;
    overflow-x: hidden;
}

main {
    padding: 20px;
    max-width: 1050px;
    margin: 0 auto;
font-family: 'Ubuntu Condensed', sans-serif;
}

body {
    font-family: 'Ubuntu Condensed', sans-serif;
    margin: 0;
    padding: 0;
    background-color:white;
    color: #333;
}

/* Estilo do header */
header {
    background-color:#8B0000;
    color: white;
    padding: 10px;
    display: flex;
    justify-content: center;
    position: relative;
    top: 0;
    width: 100%;
    z-index: 10;
}

header > h1 {
    padding: 5px;
    margin: 10px;
    font-weight: 700;
    font-size: 45px;
    letter-spacing: 1px;
    display: flex;
    justify-content: center;
    background-color: #8B0000;
    color: #ffffff;
}

header > figure {
    display: flex;
    justify-content: flex-end;
}

/* nav */
nav {
    background-color:#6a1717  !important;
    height: 36px;
  display: flex;
  justify-content: center;
  
}


.nav-bar {
    position: relative; 
  }
  
  .nav-list {
    display: none; 
    flex-direction: column; 
    position: absolute; 
    top: 18px; 
   right: 60px;
    background-color: #6a1717;
    border: 1px solid #ccc;
    padding: 10px;
    z-index: 10; 
    width: 300px;
  }
  
  .nav-list ul {
    padding: 0;
    margin: 0;
    display: flex; 
    flex-direction: column; 
  }
  
  .nav-list li {
    margin: 10px 0;
  }
  
  .nav-list a {
    text-decoration: none;
    font-size: 25px;
    color: #ffffff;
    padding: 5px 10px; 
    display: block; 
text-align: center;
  }
  


  nav ul li a:hover {
    color: #d4af37 !important; 
}


/*Primeiro Parágrafo*/

#imagem1 {
display: flex;
justify-content: center;
position: relative;
top: 10px;}

#primeirop {
    display: flex;
    justify-content: center; 
    text-align: center;      
    padding: 20px;
    margin: 20px 0;      
border:#5b3918;
} 

#primeirop p {
    font-size: 1.5rem;     
    line-height: 1.3;         
    font-style: oblique;
}


/*Section Historia*/

#historia {

    margin: 2px;
    padding: 20px;
    background-color:#FFDEC2;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

#historia h2 {
    text-align: center;
    font-weight: 800;
}

#historia > p{
    font-size: 1.3em;
    line-height: 1.3; 
    }
    
    #historia > figure {
        display:flex;
        justify-content: center;
    }
    
    .pilastra > figure {
        max-width: 100%;
        height: auto;
        margin-bottom: 30px;
    }
    







#primeirop, #brasil, #minas, #curiosidades, #lugares, #lugares2 {
    margin: 20px;
    padding: 20px;
    background-color:#FFDEC2;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}


section {
    background-color: #FFDEC2;
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 30px;
    font-size: 1.5rem;     
    line-height: 1.3;  
}



.container figure img {
max-width: 100%;
height: auto;

border: 5px solid #000; 
object-fit: cover; 
}

.container {
    margin-top: 20px;
}

figure {
    text-align: center;  
    margin: 0;
}


.container > figure {
    padding: 10px;
}


/*Arquitetura Brasileira*/

#brasil {
    font-size: 1.5rem;     
    line-height: 1.3; 

}
 #brasil > h2 {
  text-align: center;
  font-weight: 800;
 }


#brasil > figure {
    display:flex;
    justify-content: center;

}

figcaption {
    position: relative;
    margin-bottom: 40px;
  font-size: 20px;
  text-align: center;
}

#brasil, #minas > figure img {
 border-radius: 10px; 
 }

#minas{
    font-size: 1.5rem;     
    line-height: 1.3;  
}

#minas > h2 {
    text-align: center;
    font-weight: 800;
   }

/*curiosidades*/
#img2 {
    position: relative;
    top: 10px;
}

.cs {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    gap: 20px; 
    padding: 20px;
}

.item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.cs img {
width: 100%;
    height: auto; 
    border-radius: 5px;
    flex-wrap: wrap;
}

#curiosidades > h2 {
    text-align: center;
    font-style: oblique;
    font-weight: 800;
}

div[id^="descricao"] {
    margin-top: 10px;
    font-size: 25px;
    color: #555;
    padding: 5px;
    background-color: #f0f0f0;
    border: 1px solid #ddd;
    max-width: 400px;
    display: none;
    transition: all 0.2s ease;
  }


h5 {
    margin-top: 10px;
    font-size: 16px;
}



  
/*Lugares*/
#lugares {
    position: relative;
    top: 10px;
}

#lugares > h2 {
    display: flex;
    justify-content: center;
    font-weight: bold;
  }

  #lugares > h4 {
padding: 10px;
    display: flex;
    justify-content: center;
    font-size: 2em;
  }


.local-grid {
  
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 33px;

}

.local img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.local h3 {
    text-align: center;
    margin-top: 10px;
}

.local p {
    text-align: center;
    margin-top: 10px;
    font-size: 1.5em;
    font-family: "Ubuntu Condensed", serif;
    font-weight: 400;
    font-style: normal;
}



button {
        padding: 10px 20px;
        background-color: #8B0000;
        color: white;
        border: none;
        cursor: pointer;
        display: flex;
    }
  .local button:hover {
        background-color: #63a8a3;
    }


footer {
    background-color: #5b3918; 
    color: white;
    padding: 20px;
    text-align: center;
    font-size: 0.9rem;
    margin-top: 50px; 
}
footer .footer-content p {
    margin: 5px 0;
}


/*linha do tempo*/
#linhat > h2 {
    display: flex;
    justify-content: center;
    font-size: 60px;
    color: #6d0b0b;
    margin-bottom: 30px; 
    font-family: "Ubuntu Condensed", serif;
    position: relative;
    top: 30px;
}


.timeline {
    position: relative;
    margin: 0 auto;
    padding: 30px 0;
    max-width: 900px; 
}


.timeline-content {
    background-color: #fff;
    padding: 25px 30px; 
    border-radius: 10px; 
}

.timeline-content > h3 {
    margin: 0;
    font-size: 28px; 
    color: #6d0b0b;
    font-family: "Ubuntu Condensed", serif;
}


.timeline-content p {
    margin: 15px 0 0;
    font-size: 1.5em; 
    color: #333;
    line-height: 1.6;
    font-family: "Arial", serif;
}

/*Navegação*/
.carousel-control-prev,
.carousel-control-next {
    position: absolute; 
    width: 30px;
    height: 30px; 
    background-color: black;
    border: none;
    border-radius: 50%;
    z-index: 10;
}

.carousel-inner {
    position: relative;
    z-index: 2; 
}

.carousel-control-prev {
    left: -40px !important;
}

.carousel-control-next {
    right: -40px !important
    ; 
}

#sobrenos {
    background-color: #853434e6;
    color: #ffffff;
    font-style: oblique;
    font-size: 22px;
    padding: 20px;
    max-width: 1000px;
    margin: 0 auto;
font-family: 'Ubuntu Condensed', sans-serif;
}

#sobrenos > h2 {
position: relative;
margin-bottom: 10px;
font-weight: 900;
}





/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*Responsividade no Media*/
@media (max-width: 991px) {
}


@media (max-width: 768px) {
body, html {
    overflow-x: hidden;
}

.cs {
    grid-template-columns: 1fr; 
}


}

@media (max-width: 630px) {

 #historia {
    font-size: 1.5rem;     

}

#lugares2 {
    font-size: 1em;
}

#lugares2 > img {
    max-width: 100%; 
        height: auto;
        display: block; 
}

    header > ul {
        flex-direction: column;
        align-items: flex-start;
    }



    #brasil > figure img {
        max-width: 100%; 
        height: auto; 
        display: block; 
  
        }
       
        #minas > figure img {
            max-width: 100%; 
            height: auto; 
            display: block; 
        }

        body, html {
            overflow-x: hidden;
        }
    
        main {
            width: 100%; 
            padding: 0;
        }
    
        header {
            padding: 15px 30px;
        }
    
        header ul {
            flex-direction: column;
            align-items: flex-start;
        }
    
        header ul li {
            margin-left: 0;
            margin-bottom: 10px;
        }
    
        header ul li a
        {
        padding: 5px 10px;
        border-radius: 20px;
        }
    
    
        #brasil > figure img,
        #minas > figure img {
            max-width: 100%; 
            height: auto;
        }
    
       
        header, footer, nav {
            font-size: 90%;
        }
        
        section {
            font-size: 1.5em;
        }
        
        #historia {
            font-size: 1.5em;
        }
       * {
            box-sizing: border-box; 
        }
    }
    



@media (max-width: 450px) {
body, html {
    overflow-x: hidden; 
}

main {
    width: 100%; 
    padding: 0; 
}
.nav-bar {
    padding: 15px 30px;
}

.nav-bar > ul {
    flex-direction: column;
    align-items: flex-start;
}

.nav-item {
    margin-left: 0;
    margin-bottom: 10px;
}

.nav-bar > ul > li > a
{
padding: 5px 10px;
border-radius: 20px;
}


#brasil > figure img,
#minas > figure img {
    max-width: 100%; 
    height: auto;
}


header, footer, nav {
    font-size: 80%; 
    font-weight: 500;
}


section {
    font-size: 1.5em;
}

#historia {
    font-size: 1.5em;
}

* {
    box-sizing: border-box; 
}
}


@media (min-width: 778px) {
    
.nav-list {
    display: flex;
    position: relative;
    top: -16px;
    gap: 15px; 
    left: 4px;
    background: none;
    border: none;
    padding: 0;
    width: auto;
    z-index: 10;
  }
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex; 
  flex-direction: row !important;
}

nav ul li {
  margin-left: 20px; 
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-size: 1.1rem;
  font-weight: 500;
  transition: color 0.3s;
}

nav ul li a:hover {
  color: #d4af37 !important; 
}

#menu-toggle {
  display: none; 
}
}



/*telas menores */
@media (max-width: 778px) {
.nav-list {
  display: none;
  flex-direction: column; 
  position: absolute;
  top: 31px;
  right: 52px;
  background-color: #5c1c1c;
  border: 1px solid #ffffff;
  padding: 10px;
  z-index: 10;
  width: 300px;
  height: auto;
}


.nav-list.show {
  display: flex;
}

#menu-toggle {
  display: block;
  font-size: 24px;
  background: none;
  border: none;
  cursor: pointer;
  position: absolute;
  right: 20px;
  top: -12px;
  z-index: 10;
}
}



