@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Condensed&display=swap');



body {

    background-color: white;

}

main {
    padding: 20px;
    max-width: 1050px;
    margin: 0 auto;

}

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background-color:white;
    color: #333;
}

/* Estilo do header */
header {
    background-color:#6E0D25;/* Cor escura para o fundo */
    color: white;
    padding: 10px;
    display: flex;
    justify-content: center;
    position: relative;
    top: 0;
    width: 100%;
    z-index: 10;
}

header > h1 {
    padding: 5px;
    margin: 10px;
    font-weight: 700;
    font-size: 45px;
    letter-spacing: 1px;
    display: flex;
    justify-content: center;
    background-color: #6E0D25;
    color: #ffffff;
}

/* Estilo do nav */
nav {
    background-color: #83530f;
    height: 36px;
  display: flex;
  justify-content: center;
  
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.1rem;
    font-weight: 500;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #d4af37; 
}



.nav_close {
display: flex;
font-size:1.5rem;
color: black;
cursor: pointer;
}


#img1 {
display: flex;
justify-content: center;
position: relative;
top: 10px;}

#primeirop {
    display: flex;
    justify-content: center; 
    text-align: center;      
    padding: 20px;
    margin: 20px 0;      
border:#5b3918;
}


#primeirop, #linhat, #historia, #brasil, #minas, #lugares, #lugares2 {
    margin: 20px;
    padding: 20px;
    background-color:#FFDEC2;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

#primeirop p {
    font-size: 1.5rem;     
    line-height: 1.6;         

}





section {
    background-color: rgb(252, 231, 217);
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 30px;
}


.product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}

.product img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.product h3 {
    text-align: center;
    margin-top: 10px;
}

footer {
    background-color: #5b3918; 
    color: white;
    padding: 20px;
    text-align: center;
    font-size: 0.9rem;
    margin-top: 50px; 
}
s
footer .footer-content p {
    margin: 5px 0;
}